@model Pop.Domain.Entities.Game

@{
    ViewBag.Title = "Pop-culture &amp; Divertissement";
    ViewBag.ActiveMenu = "#games-menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><span class="fa fa-gamepad fa-lg" style="margin-right: 0.8em;"></span>Jeux</h2>
<hr />
<div class="row">
    <div class="col-md-8">
        <div class="col-md-12" style="margin: 1.6em 0 2em 0;">
            @if (Request.IsAuthenticated) {
            <form role="form" action="@Url.Action("Edit", "Games", new { id = Model.Id })" method="get" style="display: inline; margin-right: 1.2em;">
                <button type="submit" class="btn-sm btn-default"><span class="fa fa-edit fa-lg"></span></button>
            </form>
            }
            <h3 style="display: inline; vertical-align: bottom;"><strong>@Model.Title</strong></h3>
        </div>
        <div class="col-md-12" style="font-size: 1.2em;">
            @if (!string.IsNullOrEmpty(Model.Genre)) { <strong>@Model.Genre</strong><span>, </span> }
            d&eacute;velopp&eacute; par <strong>@Model.Developper</strong> et sorti en <strong>@Model.ReleaseDate</strong>
        </div>
        @if (!string.IsNullOrEmpty(Model.GamingPlatform)) {
            <div class="col-md-12" style="font-size: 1.2em; margin-top: 0.2em;">disponible sur <strong>@Model.GamingPlatform</strong></div>
        }
        <div class="col-md-12" style="margin-top: 1.4em;"><h4><small style="font-size: 1em;">R&eacute;sum&eacute;</small></h4></div>
        <div class="col-md-12"><p>@Model.Summary</p></div>
        @if (!string.IsNullOrEmpty(Model.WikipediaLink)) {
            <div class="col-md-12" style="margin-top: 1em;"><a href="@Model.WikipediaLink"><i class="fa fa-external-link" style="margin-right: 0.4em;"></i>Wikipedia</a></div>
        }
        <hr />
        @{
            if (Model.GamingSessions.Count > 0) {
                var session = Model.GamingSessions[0];
                var text = string.IsNullOrEmpty(session.Note) ? "commencé " : session.Note;
                @: <div class="col-md-12" style="font-size: 1.2em;">@text le @session.Date.ToString("dddd dd MMMM yyyy", System.Globalization.CultureInfo.GetCultureInfo("fr-Fr"))</div>

                for (int i = 1; i < Model.GamingSessions.Count - 1; i++) {
                    session = Model.GamingSessions[i];
                    if (!string.IsNullOrEmpty(session.Note)) {
                        @: <div class="col-md-12" style="font-size: 1.2em;">@session.Note le @session.Date.ToString("dddd dd MMMM yyyy", System.Globalization.CultureInfo.GetCultureInfo("fr-Fr"))</div>
                    }
                }

                if (Model.GamingSessions.Count > 1) {
                    session = Model.GamingSessions[Model.GamingSessions.Count - 1];
                    text = string.IsNullOrEmpty(session.Note) ? "dernière session " : session.Note;
                    @: <div class="col-md-12" style="font-size: 1.2em;">@text le @session.Date.ToString("dddd dd MMMM yyyy", System.Globalization.CultureInfo.GetCultureInfo("fr-Fr"))</div>
                }
            }
        }
        <div class="col-md-12" style="margin-top: 2em;"><h4><small style="font-size: 1em;">Mon avis</small></h4></div>
        <div class="col-md-12"><p>@Model.Review</p></div>
        @if (Model.GamingSessionForCharts != "[]") {
            <div class="col-md-12" style="margin-top: 2em;"><h4><small style="font-size: 1em;">R&eacute;partition des sessions</small></h4></div>
            <div id="chartcontainer" class="col-md-12" style="height: 20em;"></div>
        }
    </div>
    <div class="col-md-4 text-right" style="margin-left: -0.8em;">
        @{ var imageUrl = string.IsNullOrEmpty(Model.CoverFileName)
                    ? "/Content/images/no_cover.jpg"
                    : "/Content/images/games/" + Model.CoverFileName; }
        <a class="fancybox" rel="group" href="@imageUrl">
            <img src="@imageUrl" alt="@Model.Title (couverture)" style="width: 100%;" />
        </a>
    </div>
</div>
@if (Model.GamingPlatform == "Xbox Live Arcade" || Model.GamingPlatform == "Xbox 360") {
    if (Model.TotalGamerpoints > 0) {
@:      <div class="row" style="margin-top: 3em;">
            <div class="col-md-1"><h3 style="display: inline;">Succ&egrave;s</h3></div>
        
            var completion = (int)(((double)Model.ActualGamerpoints / (double)Model.TotalGamerpoints) * 100);
            var completionLeft = 100 - completion;
@:          <div class="col-md-11">
@:              <div class="progress" style="height: 2em;">
                if (completion > 0) {
@:                  <div class="progress-bar progress-bar-success" role="progressbar" style="width: @completion%;"></div>
                }
        
                if (completion < 100) {
@:                  <div class="progress-bar progress-bar-warning" role="progressbar" style="width: @completionLeft%;"></div>
                }
@:              </div>
@:          </div>
@:      </div>
@:      <div class="row">
@:          <div class="col-md-12">
                var multiplayerAchievementsNb = Model.MultiplayerAchievements.Count;
                if (multiplayerAchievementsNb > 0) {
@:                  <strong>@Model.TotalGamerpoints</strong> points disponibles sont répartis dans @Model.Achievements.Count succ&egrave;s, 
@:                  dont @multiplayerAchievementsNb, soit @Model.MultiplayerGamerpoints points, ne peuvent être obtenus qu'en multijoueur.
                } else {
@:                  <strong>@Model.TotalGamerpoints</strong> points disponibles sont répartis dans @Model.Achievements.Count succ&egrave;s.
                }

                var actualAchievementsNb = Model.Achievements.Where(x => x.WinDate.HasValue).Count();
                if (actualAchievementsNb == 0) {
@:                  Aucun succ&egrave;s n'a &eacute;t&eacute; gagn&eacute;.
                } else {
@:                  <strong>@Model.ActualGamerpoints</strong> points ont &eacute;t&eacute; amass&eacute;s en @actualAchievementsNb succ&egrave;s.
                }
@:          </div>
@:      </div>
    } else {
@:      <div class="row"><h3>Succ&egrave;s</h3></div>
    }

@:  <div class="row" style="margin-top: 1em;">
@:      <div class="col-md-12">
@:          <table class="table table-condensed">
@:              <thead>
@:                  <tr>
@:                      <th></th>   <!-- Achievement image -->
@:                      <th></th>   <!-- Multiplayer icon -->
@:                      <th>Nom</th>
@:                      <th>Description</th>
@:                      <th class="text-center">Valeur</th>
@:                      <th class="text-center">Obtenu le</th>
                        if (Request.IsAuthenticated) { 
@:                          <th></th> <!-- Edit command button -->
                        }
@:                  </tr>
@:              </thead>
@:              <tbody>
                    string currentDlc = null;
                    foreach (var achievement in Model.Achievements) {
                        if (currentDlc != achievement.AssociatedDlc) {
                            currentDlc = achievement.AssociatedDlc;
                            var colspan = Request.IsAuthenticated ? 6 : 5;
@:                              <tr><td colspan="@colspan"><h4>@currentDlc</h4></td></tr>
                        }
@:                      <tr>
@:                          <td class="col-md-1 text-center" style="padding: 0.4em inherit;">
                                var achievementImage = string.IsNullOrEmpty(achievement.ImageFileName)
                                        ? "/Content/images/no_cover.jpg"
                                        : "/Content/images/games/achievements/" + achievement.ImageFileName;
                                var achievementWinDate = achievement.WinDate.HasValue ? achievement.WinDate.Value.ToString("dd/MM/yyyy") : "";
                                var achievementImageWrapper = achievement.WinDate.HasValue ? "colorWrapper" : "bwWrapper";
@:                              <div class="@achievementImageWrapper">
@:                                  <img src="@achievementImage" alt="@achievement.Name (image)" class="grayed" style="height: 3em;" />
@:                              </div>
@:                          </td>
@:                          <td class="col-md-1 text-center" style="vertical-align: middle;">
                                if (achievement.IsMultiplayer) {
@:                                  <span class="fa fa-users" style="color: #555;"></span>
                                }
                                if (!string.IsNullOrEmpty(achievement.TALink) && !achievement.WinDate.HasValue) {
                                    if (achievement.IsMultiplayer) {
@:                                      <a href="@achievement.TALink" style="margin-left: 0.2em;"><span class="fa fa-external-link"></span></a>
                                    } else {
@:                                      <a href="@achievement.TALink"><span class="fa fa-external-link"></span></a>
                                    }
                                }
@:                          </td>
@:                          <td style="padding-right: 1em; vertical-align: middle;">@achievement.Name</td>
@:                          <td style="vertical-align: middle;"><small>@achievement.Description</small></td>
@:                          <td class="col-md-1 text-center" style="vertical-align: middle;">@achievement.Gamerpoints</td>
@:                          <td class="col-md-1 text-center" style="vertical-align: middle;">@achievementWinDate</td>
                            if (Request.IsAuthenticated) {
@:                              <td class="col-md-1 text-center" style="vertical-align: middle;">
@:                                  <form action="@Url.Action("EditAchievement", "Games", new { gameId = @Model.Id, achievementId = @achievement.Id })" method="get" style="margin: 0; padding: 0;">
@:                                      <button class="btn-sm btn-default"><span class="fa fa-edit fa-lg"></span></button>
@:                                  </form>
@:                              </td>
                            }
@:                      </tr>
                    }
@:              </tbody>
@:          </table>
            if (Request.IsAuthenticated) {
@:              <form action="@Url.Action("NewAchievement", "Games", new { gameId = @Model.Id })" method="get" style="margin: 0; padding: 0;">
@:                  <button class="btn-sm btn-primary"><span class="fa fa-plus fa-lg" style="margin-right: 0.6em;"></span>Ajouter</button>
@:              </form>
            }
@:      </div>
@:  </div>
}

@section scripts {
    <script>
        $(document).ready(function () {
            var chartSessions = @Model.GamingSessionForCharts;
            if (chartSessions == '' || chartSessions == undefined) {
                return;
            }

            var xTicks = @Model.GamingSessionXAxisTicks;
            var yTicks = @Model.GamingSessionYAxisTicks;
            var chartInterval = "@Model.ChartIntervalType";
            var plot1 = $.jqplot('chartcontainer', chartSessions, {
                animate: true,
                axesDefaults: {
                    labelRenderer: $.jqplot.CanvasAxisLabelRenderer
                },
                axes: {
                    xaxis: {
                        showLabel: false,
                        ticks: xTicks,
                        tickOptions: {
                            formatter: function (format, val) {
                                var startDate = new Date(@Model.FirstChartDate.Year, @Model.FirstChartDate.Month - 1, @Model.FirstChartDate.Day);
                                var tickDate = new Date(startDate);
                                if (chartInterval == "Daily") {
                                    tickDate.setDate(tickDate.getDate() + val);
                                } else if (chartInterval == "Weekly") {
                                    tickDate.setDate(tickDate.getDate() + (val*7));
                                } else if (chartInterval == "Monthly") {
                                    tickDate.setMonth(tickDate.getMonth() + val);
                                }

                                var dd = tickDate.getDate();
                                var mm = tickDate.getMonth() + 1;
                                var yyyy = tickDate.getFullYear();
                                if (dd < 10) {
                                    dd = '0' + dd
                                }

                                if (mm < 10) {
                                    mm = '0' + mm
                                }

                                if (chartInterval == "Monthly") {
                                    return mm + "/" + yyyy;
                                } else {
                                    if (val == 0) {
                                        return dd + "/" + mm + "/" + yyyy;
                                    } else {
                                        return dd  + "/" + mm;
                                    }
                                }
                            }
                        },
                    },
                    yaxis: {
                        showLabel: false,
                        ticks: yTicks,
                        tickOptions: {
                            formatter: function (format, val) {
                                if (val % 1 != 0) {
                                    return '';
                                } else {
                                    return String(val);
                                }
                            }
                        }
                    }
                },
                series: [{ color: '#5FAB78' }],
            });
        });
    </script>
}